.yeah {
  background-color: white;
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  padding: 10px 25px 0px 25px;

  overflow: scroll;
}

.grid-link {
  text-decoration: none;
  color: rgb(72,72,72);
  max-width: 33.33%;
  width: 100%;
  height: fit-content;
  flex-grow: 1;
  padding: 8px 8px 12px 8px;
  box-sizing: border-box;
}

.grid-item {
  cursor: pointer;
}

.grid-item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.grid-item-image { 
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.arrow-container:hover .arrows {
  visibility: visible;
}

.arrows {
  visibility: hidden;
  color: white;
  font-size: 50px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 37%;
    padding-top: 8px;
}

.listing-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.review-text {
    color:rgb(145, 70, 105);
    font-weight: 600;
    font-size: 12px;

}

.top_text {
  color: rgb(118, 118, 118);
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
}

.rate-text {
  font-size: 14px;
  font-weight: 400;
  color: rgb(72,72,72);
  line-height: 18px;

}

.review-section {
  color: rgb(0, 132, 137);
  font-size: 9px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

.title-span span{
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgb(72, 72, 72);
}



/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

#map {
  min-height: 100%;
  min-width: 650px;
}

.listing-index {
  display: flex;
  flex-direction: row-reverse;
  margin: 80px 0 0 0;
  height: calc(100vh - 70px);
}


/* -------------------------------------------------------- */
/* media query*/
/* @media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 60%;
  }
}
@media(max-width: 815px) {
  .grid-item {
    flex-basis: 80%;
  }
}
@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
} */
