
.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    top: 0px;
    width: 100%;
    z-index: 3;
    background-color: white;
    border-bottom: 1px lightgrey solid;
}

.login-form-input > input {
    cursor: pointer;
}

.login-form-input > button {
    cursor: pointer;
}

.img-container {
    width: fit-content;
    display: flex;
    align-items: center;
}

.search-field {
    margin-left: 26px;
}

.search-field input {
    height: 48px;
    width: 410px;
    border: 1px rgb(235, 235, 235) solid;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 14px;
    color: rgb(72,72,72);
    font-weight: 600;
    text-size-adjust: 100%;
    line-height: 20px;   
    text-indent: 15px;
}

.search-field input:focus {
    outline: none
}

.search-field input::placeholder {
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(164, 164, 164);
}

.search-field button {
    height: 48px;
    width: 50px;
    border: none;
    font-size: 21px;
    color: rgb(72,72,72);
    cursor: pointer;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    min-width: 190px;
    align-items: center;
}

.logged-in-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
    align-items: center;
}

.li-a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.img-container > img {
    max-width: 75px;
}

.redLogo {
    max-height: 36px;
}

.redLogo:hover {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: fit-content;
  padding: 32px;
  
  height: fit-content;
  transform: translate(-50%, -50%);
}

.links {
    height: 100%;
}

.submit-buttons {
     height: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    border-bottom: 2px transparent solid;
}

.submit-buttons:hover{
    border-bottom: 2px white solid;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 504px;
}

.switch-modal p {
    cursor: pointer;
    color: rgb(255,90,95);
}

.login-form-input {
    width: 100%;
    margin-bottom: 16px;
}

.login-form-input > * {
    width: 100%;
    padding: 11px;
    background-color: rgb(232, 240, 254);
    box-shadow: 0;
    outline: 0;
    font-size: 17px;
    border-radius: 3px

}

input {
    border: 1px transparent solid;
}

input:focus{
    border-color: rgb(0, 132, 137);
}

.login-form-input > input[type="submit"], .login-form-input > button {
    background-color: rgb(255,90,95);
    color: white;
}

.login-header {
    width: 100%;
    margin-bottom: 24px;
    text-align: left;
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(72, 72, 72);
    font-weight: 800;
}

.login-form-input > p {
    text-align: center;
    font-family: sans-serif;
    background-color: white;
}

.profile-icon {
    border: 1px solid #484848;
    border-radius: 50%;
    width: 65%;
}

.hidden {
    display: none;
}

.icon-holder:hover{
    border-color: white;
}

.icon-holder {
    height: 100%;
    border-bottom: 2px transparent solid;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
    cursor: pointer;
}

.profile-drop-down {
    position: absolute;
    right: .55%;
    top: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: 0px, 0px, 5px;   
    border: 1px solid #484848;
}

.whole-screen {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
}

.dropdown-li{
    padding: 16px;
    border-bottom: 1px rgb(242, 242, 242) solid;
    cursor: pointer;
    
}

.dropdown-li:hover{
    border-color:#767676;
}

.dropdown-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
    color: rgb(118, 118, 118);    
    width: 248px;
    height: 18px;
    text-align: left;
    font-size: 14;
    display: block;
}

.dropdown-button > p {
    font-size: 14px;
}

button:focus {outline:0;}


/* ------------------------------------------------------------ */
/*                   google drop down styling                   */
/* ------------------------------------------------------------ */

.pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        position: absolute;

        top: 0px;
        left: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      .pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .filter-bar {
          position: absolute;
      }
