.review-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 6%;
}


.review-form-title {
    font-size: 24px;
}

.review-form input {
    width: 35%;
    background-color: #018489;
    color: white;
    font-size: 20px;
    border-radius: 7px;
}

.review-form input:focus {
    outline: none;
}

.rating {
    padding-right: 20px;
}
